/.vs/Ex_db/v17/.suo
/.vs/Ex_db/v17/Browse.VC.db
/ex_db/.vs/ex_db/v17/.suo
/ex_db/.vs/ex_db/v17/Browse.VC.db
/ex_db/.vs/ex_db/v17/Browse.VC.db-shm
/ex_db/.vs/ex_db/v17/Browse.VC.db-wal
/ex_db/.vs/ex_db/v17/Browse.VC.opendb
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/183237297ceb0c5d/EX_DB.ipch
/ex_db/ex_db/x64/Debug/ex_db.Build.CppClean.log
/ex_db/ex_db/x64/Debug/ex_db.exe.recipe
/ex_db/ex_db/x64/Debug/ex_db.ilk
/ex_db/ex_db/x64/Debug/ex_db.log
/ex_db/ex_db/x64/Debug/ex_db.obj
/ex_db/ex_db/x64/Debug/ex_db.tlog/CL.command.1.tlog
/ex_db/ex_db/x64/Debug/ex_db.tlog/CL.read.1.tlog
/ex_db/ex_db/x64/Debug/ex_db.tlog/CL.write.1.tlog
/ex_db/ex_db/x64/Debug/ex_db.tlog/ex_db.lastbuildstate
/ex_db/ex_db/x64/Debug/ex_db.tlog/link.command.1.tlog
/ex_db/ex_db/x64/Debug/ex_db.tlog/link.read.1.tlog
/ex_db/ex_db/x64/Debug/ex_db.tlog/link.write.1.tlog
/ex_db/ex_db/x64/Debug/ex_db.vcxproj.FileListAbsolute.txt
/ex_db/ex_db/x64/Debug/vc143.idb
/ex_db/ex_db/x64/Debug/vc143.pdb
/ex_db/x64/Debug/ex_db.exe
/ex_db/x64/Debug/ex_db.pdb
/ex_db/.vs/ex_db/FileContentIndex/5402b326-c267-4473-8127-42e6ea957db1.vsidx
/ex_db/.vs/ex_db/FileContentIndex/read.lock
/ex_db/.vs/ex_db/FileContentIndex/52acd8dd-43a2-40bb-b3fc-5fa47466fa4f.vsidx
/ex_db/.vs/ex_db/FileContentIndex/7521618f-9824-4f72-acaa-7101c55e0f9c.vsidx
/ex_db/.vs/ex_db/FileContentIndex/b1b904e3-5372-4c32-b7c3-5e2a8d91918d.vsidx
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/9269f4d964917807/COREDATA.ipch
/ex_db/.vs/ex_db/FileContentIndex/29414b22-fcb6-4db7-b9ac-dde6b543aa9a.vsidx
/ex_db/.vs/ex_db/FileContentIndex/48e76b65-23e6-4603-af37-9b3f2f178e79.vsidx
/ex_db/.vs/ex_db/FileContentIndex/dde4bf1f-6ff2-4b24-a24a-4453b56fc00a.vsidx
/ex_db/.vs/ex_db/FileContentIndex/ffa83130-c8c2-4bb0-a991-ac39db56e96b.vsidx
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/c00729b02d16d10e/EXERCISEDBFILEHANDLER.ipch
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/d9f18b6576258a9e/EXERCISEDB.ipch
/ex_db/ex_db/x64/Debug/ExerciseDb.obj
/ex_db/ex_db/x64/Debug/ExerciseDbFileHandler.obj
/ex_db/.vs/ex_db/FileContentIndex/1b0cfaa5-c7fc-4265-b95f-38efc9bc64c5.vsidx
/ex_db/.vs/ex_db/FileContentIndex/9ab982fd-452d-4cd1-9caa-95a043d4a088.vsidx
/ex_db/.vs/ex_db/FileContentIndex/bd4de184-6cd9-4fea-9bd1-c9129ed36e8f.vsidx
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/e50d02ad901c7567/EXERCISEDATA.ipch
/ex_db/.vs/ex_db/FileContentIndex/9827d8e7-6a2b-46c9-8bcb-64e4df0289df.vsidx
/ex_db/.vs/ex_db/FileContentIndex/c16f5b74-9d93-4336-a85a-5819b269c16c.vsidx
/ex_db/.vs/ex_db/FileContentIndex/217374ba-a653-433e-ae7d-bb091def791f.vsidx
/ex_db/.vs/ex_db/FileContentIndex/26fd501f-1ff1-46f9-aaeb-76a00c04597d.vsidx
/ex_db/.vs/ex_db/FileContentIndex/a3eaedb2-77c5-4a53-96d5-d62fd4d961d5.vsidx
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/8cc77c2237e10c63/EXERCIDEDBUI.ipch
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/ccaf815c42d492ac/EXERCISEDATA.ipch
/ex_db/ex_db/x64/Debug/ExercideDbUI.obj
/ex_db/ex_db/x64/Debug/ExerciseData.obj
/ex_db/ex_db/x64/Debug/ExerciseData.obj
/ex_db/ex_db/x64/Debug/ExerciseData.obj
/ex_db/ex_db/x64/Debug/ExerciseData.obj
/ex_db/.vs/ex_db/FileContentIndex/47c074a9-ed74-430c-893a-70335c1cd63e.vsidx
/ex_db/.vs/ex_db/FileContentIndex/4c58fe7f-2193-47df-81f7-b1dc04c7a331.vsidx
/ex_db/.vs/ex_db/FileContentIndex/ae633398-fd17-4cef-9593-8ca9da3d0b33.vsidx
/ex_db/.vs/ex_db/FileContentIndex/de1914a4-f492-4c4e-8285-5d88562eaaad.vsidx
/ex_db/.vs/ex_db/FileContentIndex/755aa669-8478-4a41-aedf-bbd80b6a85a0.vsidx
/ex_db/.vs/ex_db/FileContentIndex/7f1289ea-7f59-4a6f-8a90-b8a21a1a75db.vsidx
/ex_db/.vs/ex_db/FileContentIndex/9dabf2e8-93fe-49cd-b0e5-17ac74c77991.vsidx
/ex_db/.vs/ex_db/FileContentIndex/db89512b-6a95-4db1-ac87-1932a51c942c.vsidx
/ex_db/.vs/ex_db/FileContentIndex/0ab6d910-93c3-4a27-ae14-185b5f3c7f39.vsidx
/ex_db/.vs/ex_db/FileContentIndex/545b9a83-0312-4814-b02a-d34f74205d95.vsidx
/ex_db/.vs/ex_db/FileContentIndex/634b5b6a-278e-4b31-8ebf-76ef19729728.vsidx
/ex_db/.vs/ex_db/FileContentIndex/a3a64c50-234f-49b6-a2f6-703f93c7f044.vsidx
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/f7d4a0ef988f9e44/EXERCISEPROGRAMHANDLER.ipch
/ex_db/.vs/ex_db/FileContentIndex/715e4bca-c7e9-41ec-9395-30d0d32ac2de.vsidx
/ex_db/.vs/ex_db/FileContentIndex/a3290e62-40fb-4fcf-ab6b-3b6b3bd26ccc.vsidx
/ex_db/.vs/ex_db/FileContentIndex/e65a8036-a43b-47aa-bbf0-7a0813df6091.vsidx
/ex_db/.vs/ex_db/FileContentIndex/f642e83f-3de8-4616-8cc2-902757835b77.vsidx
/ex_db/.vs/ex_db/v17/ipch/AutoPCH/1311a97232b6774c/EXERCISEDBUI.ipch
/ex_db/.vs/ex_db/FileContentIndex/8091a943-63e5-4962-ae90-bc3e3c00cbce.vsidx
/ex_db/.vs/ex_db/FileContentIndex/67016773-fb2d-44d1-89ab-52b6977eb85b.vsidx
/ex_db/ex_db/x64/Debug/
/ex_db/ex_db/x64/*
/ex_db/.vs/ex_db/FileContentIndex/5727af4e-30d7-43b6-bf08-1ca17bdf7859.vsidx
/ex_db/.vs/ex_db/FileContentIndex/9c34256e-bc84-4d22-8e98-b770ec6f22ec.vsidx
/ex_db/.vs/ex_db/FileContentIndex/96c29bb1-a37f-4d7e-a880-15944f10eec3.vsidx
/ex_db/.vs/ex_db/FileContentIndex/d3ba9259-d3c4-4131-b17d-ea5c0ef3e3d7.vsidx
/ex_db/.vs/ex_db/FileContentIndex/5757a0b0-21a6-4dd8-9405-a470350a3151.vsidx
/ex_db/.vs/ex_db/FileContentIndex/16093f08-cbc6-4fb5-b330-ff9a8e0fe590.vsidx
/ex_db/.vs/ex_db/FileContentIndex/42d06c85-9236-4c65-bedd-bd29aad5f284.vsidx
